.join-study-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Spațiu între carduri */
  padding: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
}

button {
  background: linear-gradient(90deg, #7d205c, #a34e6e);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
  background: linear-gradient(90deg, #a34e6e, #f6d48b);
  transform: scale(1.05);
}

.messages-container {
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
  color: #3bd80d;
  font-weight: bold;
}

.error-message {
  color: #ff4d4d;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.create-group-card,
.join-group-card {
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
